@media (max-width: 767px) {
    .generate {
        width: 100%;
        margin-bottom: .5rem;
    }

    .reset {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) {
    form {
        height: 100%;
    }

    .inputs {
        position: absolute;
        left: 1rem;
        top: 1rem;
        right: 1rem;
        bottom: 4rem;
        padding-right: 1rem;
        overflow: auto;
    }

    .controls {
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: .5rem;
        height: 3rem;
    }

    .reset {
        float: right;
    }
}



